<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <form action="/submit_post" method="POST">
        <input
          class = "modal_input"  
          type="text"
          name="postTitle"
          placeholder="Title..."
        />
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <textarea type="text" name="postContent"></textarea>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
                 <button type="submit" class="btn btn-primary">Post!</button>
        </form>
      </div>
    </div>
  </div>
</div>
