<div class="accordion col-6 m-5" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        <% if (locals.title) { %><strong><em><%=title%></em></strong>
        <span class="text-end mx-3" style="width: 100%"><%=date%></span>
        <% } %>
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse show"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body"><% if (locals.content) { %> 
        <%=content%>
        <% } %></div>
    </div>
  </div>
</div>
