<% if (locals.data) { %> <% console.log(locals.data); %>
<div class="accordion col-12 col-sm-10 col-lg-8 col-xxl-6 m-5" id="accordion">
  <% data.forEach( (elmt) => { %>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button
        class="accordion-button d-inline"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        <strong><em><%=elmt.title%></em></strong>
        <div class="float-end h-100">
          <h7 class="mx-3"><%=elmt.date%></h7>
        </div>
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse show"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body"><%=elmt.content%></div>
    </div>
  </div>

  <% }) %>
</div>

<% } %>
<button type="button" class="btn-close" aria-label="Close"></button>
