<% if (locals.data) { %> <% console.log(locals.data); %>
<div class="accordion col-12 col-sm-10 col-lg-8 col-xxl-6 m-5" id="accordion">
  <% data.forEach( (elmt) => { %>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        <div class="custom_text">
          <strong><em><%=elmt.title%></em></strong>
        </div>
        <div class="d-flex justify-content-end flex-grow-1">
          <h7 class="mx-3 float-end"><%=elmt.date%></h7>
        </div>
      </button>
    </h2>

    <div
      id="collapseOne"
      class="accordion-collapse collapse show"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body custom_text"><%=elmt.content%></div>
    </div>
  </div>

  <% }) %>
</div>

<% } %>
<button type="button" class="btn-close" aria-label="Close"></button>
