<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mckenzie Blog</title>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <!-- theme control -->
    <div class="dropdown float-end m-3">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Theme
      </button>
      <ul class="dropdown-menu">
        <li id="light_option" class="theme_toggle" style="cursor: pointer">
          Light
        </li>
        <li id="dark_option" class="theme_toggle" style="cursor: pointer">
          Dark
        </li>
      </ul>
    </div>

    <div class="container-fluid d-flex flex-column align-items-center">
      <div class="m-5">
        <h1>Hello</h1>
      </div>
      <!-- Button trigger modal -->
      <div class="m-3">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          Make A Post
        </button>
      </div>
      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <input placeholder="Title...">
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <textarea></textarea>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="button" class="btn btn-primary">
                Save changes
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Since node_modules folder is typically not pushed to github (or production),
    copied the minified bootstrap JS file from node_modules 
    ( node_modules/bootstrap/dist/js/bootstrap.bundle.min.js ) to the public folder
     in the root directory. The same was done with the jQuery.min.js file below -->
    <script src="jquery.min.js"></script>
    <script src="bootstrap.bundle.min.js"></script>
    <script type="module" src="main.js"></script>
  </body>
</html>
