<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mckenzie Blog</title>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <!-- theme control -->
    <div class="dropdown float-end m-3">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Theme
      </button>
      <ul class="dropdown-menu">
        <li id="light_option" class="theme_toggle" style="cursor: pointer">
          Light
        </li>
        <li id="dark_option" class="theme_toggle" style="cursor: pointer">
          Dark
        </li>
      </ul>
    </div>
    <!-- Primary container div -->
    <div class="container-fluid d-flex flex-column align-items-center">
      <!-- Header -->
      <div class="m-5">
        <h1 style="font-size: 5rem">Hello</h1>
      </div>
      <!-- Button trigger modal -->
      <div class="m-4">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          Make A Post
        </button>
      </div>
      <!-- Modal -->
      <%- include('partials/modal.ejs') %>
      <!-- Accordion -->
      <%- include('partials/posts.ejs') %>
    </div>

    <script src="jquery.min.js"></script>
    <script src="bootstrap.bundle.min.js"></script>
    <script type="module" src="main.js"></script>
  </body>
</html>
